body {
    margin: 0;
    font-family: sans-serif;
    
}

td {
    text-align: center;
    padding: 5px;
}

.mytable {
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    display: block;
    text-align: center;
}

.form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}